html{
	position: relative;
	min-height: 100%;
}

body{
	text-align: center;
	width: 90%;
	max-width: 950px;
  z-index: 0;
}

body::before{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../images/hogwarts_castle.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

header{
	position: fixed;
	clear:both;
	max-width: 950px;
	width: 90%;
  top: 6px; left: 0; right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  padding: 4px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.desc{
  display: inline-block;
  float: left;
}

.desc h1, p, small{
  font-family: 'Bitter', serif;
  text-align: left;
  display: block;
}

header img{
  display: inline-block;
  float: right;
}

/*
.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../images/hogwarts_castle.jpg');
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
}
*/
