h1, h2, h3, h4, h5{
	font-smoothing: antialiased;
}

html{
	position: relative;
	min-height: 100%;
}

body{
	background: #CBD7EF;
}

header{
	position: relative;
	clear: both;
	background-attachment: scroll;
	background-image: url(../images/low-poly-blue.jpg);
	background-position: center center;
	height: 2/0px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.profile-pic{
	display: inline;
	margin: auto;
	position: relative;
	top: 2.4em; bottom: 0; left: 2em; right: 0;
	border-radius: 50%;
	border: 3px solid #FFF;
}

.desc{
	display: inline-block;
	font-family: 'Titillium Web', sans-serif;
	color: #FFF;
	margin-top: 20px;
	font-size: 1.4em;
	font-weight: 100;
	background: rgba(0, 0, 0, 0.2);
	padding: 6px;
	border-radius: 3px;
	margin: 2em;
}

.wrapper{
	min-height: 100%;
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 20px;
}

.box-row{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.link-box{
	width: 160px;
	background:#454db2;
	margin-left: 6px;
	margin-right: 6px;
	text-decoration: none;
	border-radius: 4px;
}

.link-box:hover{
	text-decoration: none;
	background: #4676DA;
}

.link-box h1{
	font-family: 'Titillium Web', sans-serif;
	font-size: 3em;
	color: #FFF;
	margin: 4px auto;
	text-decoration: none;
	text-align: center;
}

.link-box p{
	font-family: 'Titillium Web', sans-serif;
	font-size: 1em;
	color: #FFF;
	margin: auto;
	text-decoration: none;
	text-align: center;
	margin: 2px auto;
	padding-bottom: 12px;
}

footer{
	position:absolute;
	border-top: 1px solid #000;
	width: 100%;
	height: 40px;
	bottom:0;
}

footer a{
	text-decoration: none;
	color: #000;
}

footer ul{
	list-style: none;
}

footer ul li{
	display: inline-block;
	padding: 6px;
}

footer a:hover{
	text-shadow: 1px 1px 3px #000;
}
